body {
    font-family: inter;
}

header, footer {
    background-color: #008EB5;
    height: 70px;
    padding: 25px;
}

header a {
    background-color: #D9D9D9;
    color: black;
    border-radius: 20px;
    font-size: 36px;
    font-family: regular;
    padding: 15px;
    text-decoration: none;
    margin-top: 25px;
    left: 35px;
    top: 25px;
}

h1 {
    font-size: 70px;
    color: #E40000;
    text-align: center;
}

img {
    width: 654px;
    height: 459px;
    margin-top: 50px;
    margin-left: 157px;
}

p {
    font-size: 36px;
    text-align: center;
}
