body {
    font-family: inter;
}

header, footer {
    background-color: #008EB5;
    height: 70px;
    padding: 15px;
}

header a {
    background-color: #D9D9D9;
    color: black;
    border-radius: 20px;
    font-size: 24px;
    font-family: regular;
    padding: 12px;
    text-decoration: none;
    top: 30px;
    left: 35px;
}

h1 {
    font-size: 52px;
    color: #E40000;
    text-align: center;
}

img {
    width: 654px;
    height: 459px;
    margin-top: 50px;
    margin-left: 300px;
}

p {
    font-size: 24px;
    text-align: center;
}
